{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions.{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <header>
        <p>Free shipping on your first order. Limited offer only!</p>
    </header>
    <section id="header">
        <a href="{% url 'index' %}" style="color:black; text-decoration: none;"><h3 style="text-align: center; font-weight: bold; font-style: italic;">Auctions.</h3></a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}" style="padding-left: 0px;">All Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'categories' %}" style="padding-left: 0px;">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'watchlist' %}" style="padding-left: 0px;">Watchlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'createlisting' %}" style="padding-left: 0px;">Create Listing</a>
            </li>
        </ul>
        <div class="signedin">
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
            <div class="nav-signin">
                <!--<li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                </li>-->
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" style="padding-left: 0px;">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}" style="padding-left: 0px;">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </div>
            <hr style="width: 100%;">
        </div>
        {% block body %}
        {% endblock %}
    </section>
</html>
